{% load static %}
{% load django_htmx %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    {% block morehead %}
    <style>
      body {
        background-color: #f8eeea;
      }
    </style>    
    {% endblock %}

    <title>{% block title %}Welcome to Tr¿via{% endblock %}</title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{% block heading %}Tr¿via{% endblock %}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12" data-msg-container>
          <template data-msg-template>
            <div data-msg-wrapper class="alert alert-dismissible fade show" role="alert">
              <div data-msg-body></div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </template>
          {% for message in messages %}
          <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}  
        </div>
      </div>
{% block contents %}check your 🧠 - something's gone wrong{% endblock %}
    </div>

    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'htmx/messages.js' %}"></script>
    <script src="{% static 'htmx/idiomorph-ext.min.js' %}"></script>
    <script src="{% static 'markdown/marked.min.js' %}"></script>
    <script src="{% static 'markdown/purify.min.js' %}"></script>
    <script src="{% static 'markdown/render-markdown.js' %}"></script>
    {% django_htmx_script %}
  </body>
</html>
