{% extends 'base.html' %}
{% load static %}
{% block heading %} {% endblock %}
{% block morehead %}
<style>
  body {
    background-color: #E4CABE;
  }
</style>    
{% endblock %}
{% block contents %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'images/filled-answer-sheet.png' %}" class="d-block mx-lg-auto img-fluid" alt="Tr¿via partially-filled answer sheet" loading="lazy" width="756" height="483">
    </div>
    <div class="col-lg-6">
      {% if game and team %}
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome back to Tr¿via!</h1>
      <p class="lead">
        It looks like you're already playing <q>{{ game.name }}</q> as <q>{{ team.name }}</q>.
      </p>
      <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-start">
        <a href="{% url 'play' %}" class="btn btn-primary btn-lg px-4 me-md-2">Return to game</a>
      </div>
      {% elif game %}
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome back to Tr¿via!</h1>
      <p class="lead">
        It looks like you started to join <q>{{ game }}</q> but don't have a team.
      </p>
      <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-start">
        <a href="{% url 'create_team' %}" class="btn btn-primary btn-lg px-4 me-md-2">Create your team</a>
      </div>
      {% else %}
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Tr¿via!</h1>
      <p class="lead">
        To play trivia, you'll need someone to send you a game link (or have a join code).
        Or perhaps you have an account and are hosting trivia?
      </p>
      <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-start">
        <a href="{% url 'join_game' %}" class="btn btn-primary btn-lg px-4 me-md-2">Join game with code</a>
        {# HACK: layer violation, since host_home is defined in the host app #}
        <a href="{% url 'host_home' %}" class="btn btn-outline-secondary btn-lg px-4">I'm hosting</a>
      </div>
      {% endif %}
      <p class="lead">
        Visit <a href="https://github.com/vtbassmatt/triviagame">our GitHub page</a> to learn more.
      </p>
    </div>
  </div>
</div>
{% endblock %}