{% extends 'base.html' %}
{% block heading %}Reconnect team{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    {% if team_name %}
    <p>
      Reconnect to team <em>{{ team_name }}</em>?
      {% if team_members %}Players are: <em>{{ team_members }}</em>.{% endif %}
    </p>
    {% else %}
    <p>Reconnect to team</p>
    {% endif %}
    <div>
    <form action="{% url 'rejoin_team' %}" method="post" autocomplete="off">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Reconnect to team</button>
    </form>    
    </div>
  </div>
</div>
{% endblock %}