{% for page in hosting.page_set.all %}
<div class="card mb-3{% if page.is_open and hosting.open %} border-success{% elif page.is_open %} border-warning{% endif %}">
  <div class="card-header{% if page.is_open and hosting.open %} text-white bg-success{% elif page.is_open %} text-white bg-warning{% endif %}">{{ page.order }}. {{ page.title }} <span class="badge bg-secondary">{{ page.question_set.count }} questions</span></div>
  <div class="card-body">
    <div class="card-title markdown-needed">{{ page.description|linebreaksbr }}</div>
    <div class="card-text"><a href="{% url 'score_page' page.id %}" class="btn btn-outline-primary mb-2">Score this page ✅</a></div>
    <div class="card-text">
      <a class="btn {{ page.bootstrap_locked_button_styles }}"
        hx-post="{% url 'set_page_state' %}"
        hx-vals='{"page":{{ page.id }},"state":"LOCKED"}'>
        Lock this page 🔒
      </a>
      <a class="btn {{ page.bootstrap_open_button_styles }}"
        hx-post="{% url 'set_page_state' %}"
        hx-vals='{"page":{{ page.id }},"state":"OPEN"}'>
        Open this page ✏️
      </a>
      <a class="btn {{ page.bootstrap_scoring_button_styles }}"
        hx-post="{% url 'set_page_state' %}"
        hx-vals='{"page":{{ page.id }},"state":"SCORING"}'>
        Close this page to begin scoring ✋
      </a>
    </div>
  </div>
</div>
{% empty %}
<p>No pages found.</p>
{% endfor %}
