{% load guardian_tags %}
{% get_obj_perms user for game as "perms" %}
{% for page in game.page_set.all %}
<div class="card mb-3{% if page.is_open and game.open %} border-success{% elif page.is_open %} border-warning{% endif %}">
  <div class="card-header{% if page.is_open and game.open %} text-white bg-success{% elif page.is_open %} text-white bg-warning{% endif %}">{{ page.order }}. {{ page.title }} <span class="badge bg-secondary">{{ page.question_set.count }} question{{ page.question_set.count|pluralize }}</span>{% if page.is_hidden %}{% if page.is_locked %} <span class="badge bg-primary">hidden page</span>{% else %} <span class="badge bg-secondary">revealed page</span>{% endif %}{% endif %} <span class="badge bg-info">{{ page.total_points }} point{{ page.total_points|pluralize }}</span></div>
  <div class="card-body">
    <div class="card-title markdown-needed">{{ page.description }}</div>
    <div class="card-text">
      {% if 'host_game' in perms %}
      <a class="btn {{ page.bootstrap_locked_button_styles }}"
        hx-post="{% url 'set_page_state' game.id %}"
        hx-vals='{"page":{{ page.id }},"state":"LOCKED"}'>
      {% else %}
      <a class="btn btn-outline-secondary disabled">
      {% endif %}
        Lock this page 🔒
      </a>
      {% if 'host_game' in perms %}
      <a class="btn {{ page.bootstrap_open_button_styles }}"
        hx-post="{% url 'set_page_state' game.id %}"
        hx-vals='{"page":{{ page.id }},"state":"OPEN"}'>
      {% else %}
      <a class="btn btn-outline-secondary disabled">
      {% endif %}
        Open this page ✏️
      </a>
      {% if 'host_game' in perms %}
      <a class="btn {{ page.bootstrap_scoring_button_styles }}"
        hx-post="{% url 'set_page_state' game.id %}"
        hx-vals='{"page":{{ page.id }},"state":"SCORING"}'>
      {% else %}
      <a class="btn btn-outline-secondary disabled">
      {% endif %}
        Stop accepting answers ✋
      </a>
    </div>
    <div class="card-text mt-2">
      <a href="{% url 'score_page' game.id page.id %}" class="btn btn-{% if page.state != 2 %}outline-{% endif %}primary mb-2">
        {% if page.is_scoring %}Score this page ✅{% else %}Review this page 🧐{% endif %}
      </a>
    </div>
  </div>
</div>
{% empty %}
<p>No pages found.</p>
{% endfor %}
