{# this template must only depend on `question` and `game` because it #}
{# is invoked in the HTMX view `assign_score` in addition to being #}
{# included in scoring.html #}
<div class="card mb-3" id="question-card-{{ question.id }}">
  <div class="card-header">
  {{ question.order }}. <span class="markdown-needed">{{ question.question }}</span>
  </div>
  <div class="card-body">
    <div class="card-title">Correct answer: <span class="text-success markdown-needed">{{ question.answer }}</span></div>
    <table class="table table-sm">
    <thead>
      <tr>
        <td>Points</td>
        <td>Response</td>
        <td>Team</td>
      </tr>
    </thead>
    {% for response in question.response_set.all %}
    <tr{% if not response.graded %} class="table-warning"{% endif %}>
      <td>
        <div class="btn-group" role="group">
          {% for points in question.points_range %}
          <button
            {% if response.graded and response.score == points %}
              {% if points == 0 %}
              class="btn btn-sm btn-danger"
              {% else %}
              class="btn btn-sm btn-success"
              {% endif %}
            disabled
            {% else %}
            class="btn btn-sm btn-outline-primary"
            {% endif %}
            hx-post="{% url 'assign_score' game.id %}"
            hx-vals='{"response":{{ response.id }},"score":{{points}} }'
            hx-target="#question-card-{{ response.question.id }}"
            hx-swap="outerHTML"><span class="px-1">{{ points }}</span></button>
          {% if not forloop.last %}
          {% cycle '' '' '' '' '</div><br><div class="btn-group mt-1" role="group">' %}
          {% endif %}
          {% endfor %}
          </div>
      </td>
      <td>{% if not response.graded %}⚠️ {% endif %}{{ response.value }}</td>
      <td><abbr title="{{ response.team.members }}">{{ response.team.name }}</abbr></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>