<div class="card mb-3" id="question-card-{{ question.id }}">
  <div class="card-header">
    Question {{ question.order }} <span class="badge bg-info">{{ question.possible_points }} point{{ question.possible_points|pluralize }}</span>
  </div>
  <div class="card-body">
    <p class="card-text markdown-needed">{{ question.question }}</p>
    <div class="hstack gap-2 mb-3 p-1 border rounded-start bg-success-subtle">
      <div>Correct answer</div>
      <div class="vr"></div>
      <div class="markdown-needed">{{ question.answer }}</div>
    </div>
    <table class="table table-sm">
    <thead>
      <tr>
        <td>Response</td>
        <td>Team</td>
      </tr>
    </thead>
    {% for response in question.response_set.all %}
    <tr>
      </td>
      <td>{{ response.value }}</td>
      <td><abbr title="{{ response.team.members }}">{{ response.team.name }}</abbr></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>