<div class="card mb-3" id="question-card-{{ question.id }}">
  <div class="card-header">
    Question {{ question.order }} <span class="badge bg-info">{{ question.possible_points }} point{{ question.possible_points|pluralize }}</span>
  </div>
  <div class="card-body">
    <p class="card-text markdown-needed">{{ question.question|linebreaksbr }}</p>
    <div class="input-group mb-3">
      <div class="input-group-text">Answer:</div>
      <input type="text" readonly class="form-control bg-success text-light markdown-needed" value="{{ question.answer|linebreaksbr }}">
    </div>
    <table class="table table-sm">
    <thead>
      <tr>
        <td>Response</td>
        <td>Team</td>
      </tr>
    </thead>
    {% for response in question.response_set.all %}
    <tr>
      </td>
      <td>{{ response.value }}</td>
      <td><abbr title="{{ response.team.members }}">{{ response.team.name }}</abbr></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>