{% load guardian_tags %}
{% get_obj_perms user for game as "perms" %}
{% if 'host_game' in perms %}
<p>
<button class="btn btn-{% if game.open %}outline-danger{% else %}primary{% endif %}"
  hx-post="{% url 'toggle_game' game.id %}"
  hx-swap="outerHTML"
  hx-target="closest p">{% if game.open %}Close{% else %}Open{% endif %} the game</button>
{% else %}
<p>
<button class="btn btn-outline-secondary disabled" disabled>{% if game.open %}Close{% else %}Open{% endif %} the game</button>
{% endif %}
</p>