{% extends 'host_base.html' %}
{% block heading %}Tr¿via hosting{% endblock %}
{% block contents %}
<div class="row">
  <div class="col-12">
    <p><span class="badge bg-warning">Reminder</span> If any player is having browser trouble, give them this link: <code>{{ uncurse_url }}</code></p>
    <hr>
    <h2>Games</h2>
    <p><a href="{% url 'new_game' %}" class="btn btn-outline-secondary">Create a new game</a></p>
    <div>
    {% include 'host/_games_list.html' %}
    </div>
  </div>
</div>
{% endblock %}