{% extends 'host_base.html' %}
{% block heading %}Tr¿via hosting{% endblock %}
{% block contents %}
<div class="row">
  <div class="col-12">
    <p><span class="badge bg-warning">Reminder</span> If any player is having browser trouble, give them this link: <code>{{ uncurse_url }}</code></p>
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span>{% if request.user.is_superuser %} <span class="badge rounded-pill bg-secondary">admin</span>{% endif %} (<a class="link-danger" href="{% url 'confirm_logout' %}">log out</a>)</p>
    <hr>
    <h2>Games</h2>
    <p><a href="{% url 'new_game' %}" class="btn btn-outline-secondary{% if not perms.game.add_game %} disabled{% endif %}">Create a new game</a></p>
    <div>
    {% include 'host/_games_list.html' %}
    </div>
    <h2>Notes for hosts</h2>
    <p>
      The game tries to keep things stable and understandable for the players.
      The interface can be a little inscrutable for the host, though.
      This documentation should be helpful in understanding what's what.
    </p>
    <h3>Game states</h3>
    <p>
      A <b>game</b> can be closed or open.
    </p>
    <ul>
      <li>
        Closed - no players can join or see anything.
        As a host, you may use the editor interface.
      </li>
      <li>
        Open, allow new teams - players will be able to interact with the game.
        See below for how pages work within the game.
        As a host, the editor is disabled so that you can't accidentally break the game for players.
      </li>
      <li>
        Open, block new teams - existing teams have access, but no new teams can join.
      </li>
    </ul>
    </p>
    <h3>Page states</h3>
    <p>
      Games contain <b>pages</b>.
      Think of a page like a <q>round</q> in bar trivia.
      A page can be:
    </p>
    <ul>
      <li>Locked 🔒 - players may not interact at all, even the page title is hidden.</li>
      <li>Open ✏️ - players may answer and re-answer questions.</li>
      <li>Scoring ✋ - players may see what they answered, but may not change their answers. Scores will begin to become visible to players as you enter them.</li>
    </ul>
    <p>
      Additionally, pages have a flag called <q>hidden</q>.
      If a page is not hidden, then players will see its name as a series of question marks (<q>?????</q>) before it's open.
      If instead the page is marked hidden, it simply won't show up in the list until it's opened.
      In both cases, once the page is open, it will show up.
      This feature is intended to support hidden tie-breaker rounds.
      The idea is that players won't be confused by seeing a round which never opens, but you can have a tie-breaker ready to go in case it's needed.
    </p>

    <h3>Suggested flow</h3>
    <ol>
      <li>Open the game, blocking new teams if you prefer.</li>
      <li>Open the first page.</li>
      <li>When players are done or time is open, move the page to scoring.</li>
      <li>You can score immediately while players wait and show them the leaderboard, or you can announce and open the next round.</li>
      <li>At intervals (every round or two), show off the leaderboard. Pages should all be "locked" or "scoring", no page should be open while you do this.</li>
      <li>At the end, show off the final leaderboard.</li>
      <li>Close the game after everyone is done.</li>
    </ol>
  </div>
</div>
{% endblock %}