{% extends 'host_base.html' %}
{% load dict_extras %}
{% block heading %}{{ game.name }}{% endblock %}
{% block morehead %}
<style>
  body {
    background-color: #eaf4f8;
  }
  @page {
    size: landscape;
    margin: .25in;
  }
</style>
{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>team</td>
        <td>members</td>
        {% for round in rounds %}
        <td>{{ round }}</td>
        {% endfor %}
      </tr>
    </thead>
    {% for line in leaderboard %}
      <tr>
        {% for entry in line %}
        {% if forloop.first %}
        <th scope="row">{% if entry in gold_medals %}🥇 {% endif %}{{ entry }}</th>
        <td>{{ teams|dict_value:entry }}</td>
        {% else %}
        <td>{{ entry }}</td>
        {% endif %}
        {% endfor %}
      </tr>
    {% empty %}
    <tr><td colspan="{{ rounds|length|add:1 }}"><em>No teams have joined.</em></td></tr>
    {% endfor %}
  </table>
  </div>
</div>
<div class="row d-print-none">
  <hr>
  <h2>Utilities</h2>
  <table class="table table-striped">
  <tr>
    <th>Data</th><td><a href="{% url 'host_leaderboard_stats' game.id %}">Download the data</a></td>
  </tr>
  <tr>
    <th>Manage the game</th><td><a href="{% url 'pages' game.id %}">Game home</a></td>
  </tr>
  </table>
</div>
{% endblock %}