{% extends 'host_base.html' %}
{% block heading %}Host view: {{ game.name }}{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12 mb-2">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span></p>
    <h2>Game status</h2>
    {% include 'host/_toggle_game.html' %}
    <h2>Pages</h2>
    {# when the game or page state is toggled, this section reloads #}
    <div hx-get="{% url 'pages' game.id %}"
         hx-trigger="hostedGameStateUpdated from:body, pageStateUpdated from:body"
         name="pagesList">
    {% include 'host/_pages_list.html' %}
    </div>
  </div>
  <div class="col-12 mb-2">
    <h2>Teams</h2>
    {% for team in game.team_set.all %}
    <div><a href="{% url 'team_page' game.id team.id %}"><em>{{ team.name }}</em></a>, which is «{{ team.members }}»</div>
    {% endfor %}
  </div>
  <div class="col-12 mb-2">
    <h2>Utilities</h2>
    <table class="table table-striped">
    <tr>
      <th>Player link</th><td><code>{{ player_join_url }}</code></td>
    </tr>
    <tr>
      <th>Leaderboard</th><td><a href="{% url 'host_leaderboard' game.id %}">Leaderboard</a></td>
    </tr>
    <tr>
      <th>Host home</th><td><a href="{% url 'host_home' %}">Host home</a></td>
    </tr>
    </table>
  </div>
</div>
{% endblock %}