{% extends 'host_base.html' %}
{% block heading %}Host view: {{ game.name }}{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12 mb-2">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span>{% if request.user.is_superuser %} <span class="badge rounded-pill bg-secondary">admin</span>{% endif %} (<a class="link-danger" href="{% url 'confirm_logout' %}">log out</a>)</p>
    <h2>Game status</h2>
    <p>
      Visible points: {{ game_max_points }}<br>
      Hidden points: {{ game_hidden_points }}
    </p>
    {% include 'host/_toggle_game.html' %}
    <h2>Pages</h2>
    {# when the game or page state is toggled, this section reloads #}
    <div hx-get="{% url 'pages' game.id %}"
         hx-trigger="hostedGameStateUpdated from:body, pageStateUpdated from:body"
         name="pagesList">
    {% include 'host/_pages_list.html' %}
    </div>
  </div>
  <div class="col-12 mb-2">
    <h2>Teams ({{ game.team_set.count }})</h2>
    {% for team in game.team_set.all %}
    <p><a href="{% url 'team_page' game.id team.id %}"><em>{{ team.name }}</em></a>, which is: {% firstof team.members '<em>no players listed</em>' %}</p>
    {% empty %}
    <p>No teams have registered yet.</p>
    {% endfor %}
  </div>
  <div class="col-12 mb-2">
    <h2>Hosts</h2>
    <p>
    {% for host in game_hosts %}
    {% if host == request.user %}you{% else %}{% firstof host.get_full_name host %}{% endif %}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
  </div>
  <div class="col-12 mb-2">
    <h2>Utilities</h2>
    <table class="table table-striped">
    <tr>
      <th>Player link</th><td><code>{{ player_join_url }}</code></td>
    </tr>
    <tr>
      <th>Leaderboard</th><td><a href="{% url 'host_leaderboard' game.id %}">Leaderboard</a></td>
    </tr>
    <tr>
      <th>Host home</th><td><a href="{% url 'host_home' %}">Host home</a></td>
    </tr>
    </table>
  </div>
</div>
{% endblock %}