{% extends "host_base.html" %}

{% block title %}Change password{% endblock %}
{% block heading %}Change password{% endblock %}

{% block contents %}
<div class="col-md-6">
  <form method="post" autocomplete="on">
    {% csrf_token %}
    <div class="visually-hidden">
      <label for="id_username_for_password_manager">Username</label>
      <input type="text" id="id_username_for_password_manager" name="username" autocomplete="username" value="{{ request.user.get_username }}" readonly tabindex="-1">
    </div>
    <div class="mb-3">
      <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }}{{ form.label_suffix }}</label>
      {{ form.old_password }}
      {% if form.old_password.errors %}
        <div class="text-danger">{{ form.old_password.errors }}</div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}{{ form.label_suffix }}</label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        <div class="text-danger">{{ form.new_password1.errors }}</div>
      {% endif %}
      {% if form.new_password1.help_text %}
        <div class="form-text">{{ form.new_password1.help_text }}</div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}{{ form.label_suffix }}</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <div class="text-danger">{{ form.new_password2.errors }}</div>
      {% endif %}
    </div>

    <script>
      document.querySelectorAll("input[type=password]").forEach(el => {
        el.classList.add("form-control");
      })
    </script>

    <button type="submit" class="btn btn-primary">Change password</button>
    <a href="{% url 'host_home' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
  </form>
</div>
{% endblock %}
