{% extends 'host_base.html' %}
{% block heading %}Hosting {{ game.name }}{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span>{% if request.user.is_superuser %} <span class="badge rounded-pill bg-secondary">admin</span>{% endif %} (<a class="link-danger" href="{% url 'confirm_logout' %}">log out</a>)</p>
    <h2>Scoring &ldquo;{{ page.title }}&rdquo;</h2>

    {% for question in page.question_set.all %}
      {% include 'host/_question_score.html' %}
    {% empty %}
    <p>There don't seem to be any questions here.</p>
    {% endfor %}
    <a href="{% url 'pages' game.id %}" class="btn btn-outline-primary mb-3">Return to game</a>
  </div>
</div>
{% endblock %}