{% extends 'host_base.html' %}
{% block heading %}Hosting {{ hosting.name }}{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    <h2>Scoring &ldquo;{{ page.title }}&rdquo;</h2>

    {% for question in page.question_set.all %}
      {% include 'host/_question_score.html' %}
    {% empty %}
    <p>There don't seem to be any questions here.</p>
    {% endfor %}
    <a href="{% url 'pages' hosting.id %}" class="btn btn-outline-primary">Return to game</a>
  </div>
</div>
{% endblock %}