{% extends 'host_base.html' %}
{% block heading %}Hosting {{ hosting.name }}{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    <form method="post">
    <h2>Scoring &ldquo;{{ page.title }}&rdquo;</h2>

    {% for question in page.question_set.all %}
    <div class="card mb-3">
      <div class="card-header">
      {{ question.order }}. {{ question.question }}
      </div>
      <div class="card-body">
        <div class="card-title">Correct answer: <span class="text-success">{{ question.answer }}</span></div>
        <table class="table table-sm">
        <thead>
          <tr>
            <td>❓</td>
            <td>Response</td>
            <td>Team</td>
          </tr>
        </thead>
        {% for response in question.response_set.all %}
        <tr>
          <td><input type="hidden" name="exist_{{ response.id }}" value="1"><input class="form-check-input" type="checkbox" value="" name="check_{{ response.id }}"{% if response.score > 0 %} checked{% endif %}></td>
          <td>{% if response.graded %}{% if response.score > 0 %}✅{% else %}❌{% endif %}{% endif %}{{ response.value }}</td>
          <td>{{ response.team.name }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    {% empty %}
    <p>There don't seem to be any questions here.</p>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Save scores</button>
    <a href="{% url 'pages' %}" class="btn btn-outline-primary">Return to game</a>
    </form>
  </div>
</div>
{% endblock %}