<tbody id="page-list">
{% for page in game.page_set.all %}
<tr>
  <td>{{ page.order }}. {% if page.is_hidden %}<i>{% endif %}<a href="{% url 'edit_page' page.id %}">{{ page.title }}</a>{% if page.is_hidden %}</i> (hidden 🙈){% endif %}</td>
  <td>{{ page.total_points }} points</td>
  <td><a hx-post="{% url 'page_up' page.id %}" hx-target="#page-list" hx-swap="outerHTML" class="btn btn-outline-success{% if forloop.first %} disabled{% endif %}">Move up 👆</a></td>
  <td><a hx-post="{% url 'page_down' page.id %}" hx-target="#page-list" hx-swap="outerHTML" class="btn btn-outline-success{% if forloop.last %} disabled{% endif %}">Move down 👇</a></td>
  <td><a href="{% url 'delete_page' page.id %}" class="btn btn-outline-danger">Delete</a></td>
</tr>
{% empty %}
<tr><td class="list-group-item text-secondary">No pages yet</td></tr>
{% endfor %}
</tbody>