<div id="question-list">
{% for question in page.question_set.all %}
<div class="card mb-3">
  <div class="card-header">{{ question.order }}. <span class="markdown-needed">{{ question.question|linebreaksbr }}</span></div>
  <div class="card-body">
    {% if question.possible_points > 1 %}<p class="card-text fst-italic">Worth up to <span class="text-primary fw-bold">{{ question.possible_points }}</span> points.</p>{% endif %}
    <p class="card-text markdown-needed">{{ question.answer|linebreaksbr }}</p>
    <a href="{% url 'edit_question' question.id %}" class="btn btn-outline-primary">Edit</a>
    <a hx-post="{% url 'question_up' question.id %}" hx-target="#question-list" class="btn btn-outline-success{% if forloop.first %} disabled{% endif %}">Move up 👆</a>
    <a hx-post="{% url 'question_down' question.id %}" hx-target="#question-list" class="btn btn-outline-success{% if forloop.last %} disabled{% endif %}">Move down 👇</a>
    <a href="{% url 'delete_question' question.id %}" class="btn btn-outline-danger">Delete</a>
  </div>
</div>
{% endfor %}
</div>