{% extends 'host_base.html' %}
{% block title %}👑 Tr¿via editor{% endblock %}
{% block heading %}Really delete question {{ question.order }} from page {{ question.page.order }}?{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span>{% if request.user.is_superuser %} <span class="badge rounded-pill bg-secondary">admin</span>{% endif %} (<a class="link-danger" href="{% url 'confirm_logout' %}">log out</a>)</p>
    <div class="card mb-3">
      <div class="card-header bg-danger text-white">Deleting question {{ question.order }} from page <q><a href="{% url 'edit_page' question.page.id %}" class="link-light">{{ question.page.title }}</a></q> in game <q><a href="{% url 'edit_game' question.page.game.id %}" class="link-light">{{ question.page.game.name }}</a></q></div>
      <div class="card-body">
          <div class="hstack gap-2 mb-3 p-1">
            <div class="">Question</div>
            <div class="vr"></div>
            <div class="markdown-needed">{{ question.question }}</div>
          </div>

          <div class="hstack gap-2 mb-3 p-1 border rounded-start bg-secondary-subtle">
            <div class="">Answer</div>
            <div class="vr"></div>
            <div class="markdown-needed">{{ question.answer }}</div>
          </div>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Yes, delete the question</button>
            <a href="{% url 'edit_page' question.page.id %}" class="btn btn-outline-secondary">Nope, changed my mind</a>
        </form>    
      </div>
    </div>
  </div>
</div>
{% endblock %}