{% extends 'host_base.html' %}
{% block title %}👑 Tr¿via editor{% endblock %}
{% block heading %}Editing game <q>{{ game.name }}</q>{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span>{% if request.user.is_superuser %} <span class="badge rounded-pill bg-secondary">admin</span>{% endif %} (<a class="link-danger" href="{% url 'confirm_logout' %}">log out</a>)</p>
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">Game metadata</div>
      <div class="card-body">
        {% if game.open %}
        <p class="card-text">Name: {{ game.name }}</p>
        <p class="card-text"><em>Can't edit an open game.</em> You must <a href="{% url 'pages' game.id %}">close it first</a>.</p>
        {% else %}
        <form method="post" autocomplete="off">
          <p class="card-text">
            {% csrf_token %}
            {{ game_form }}
          </p>
          <button type="submit" class="btn btn-outline-primary">Update name</button>
        </form>
        {% endif %}
        <p class="card-text mt-2">
          Hosts with access:
          {% for host in game_hosts %}
          {% if host == request.user %}you{% else %}{% firstof host.get_full_name host %}{% endif %}{% if not forloop.last %}, {% endif %}
          {% endfor %}
          (<a href="{% url 'edit_game_hosts' game.id %}">edit hosts</a>)
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Pages ({{ game_max_points }} normal points; {{ game_hidden_points }} hidden points)
      </div>
      <div class="card-body">
      <table class="table">
        {% include 'editor/_page_list.html' %}
      </table>
      </div>
      <div class="card-footer">
        <a href="{% url 'new_page' game.id %}" class="btn btn-outline-primary">Add new page</a>
      </div>
    </div>

    <a href="{% url 'host_home' %}">Return to host interface</a>
  </div>
</div>
{% endblock %}