{% extends 'host_base.html' %}
{% block title %}👑 Tr¿via editor{% endblock %}
{% block heading %}New page for <q>{{ game.name }}</q>{% endblock %}
{% block contents %}
<div class="row justify-content-center">
  <div class="col-12 mb-3">
    <p>You are logged in as <span class="text-success">{% firstof request.user.get_full_name request.user %}</span></p>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-outline-primary">Create page</button>
    </form>
  </div>
</div>
{% endblock %}