{% extends 'host_base.html' %}
{% block title %}MONACO TEST{% endblock %}
{% block heading %}MONACO TEST{% endblock %}
{% block contents %}
{# TODO: integrate with database content #}
{# TODO: on mobile, don't load Monaco #}
<iframe id="the_monaco"
        src="{% url 'monaco_iframe' %}{% querystring monaco_options %}&context=first"
        width=400
        height=300></iframe>
<br>
<div id="the_output"></div>

<iframe id="the_other_monaco"
        src="{% url 'monaco_iframe' %}{% querystring monaco_options %}&context=other"
        width=300
        height=300></iframe>
<br>
<div id="the_other_output"></div>


<script>
const iframe = document.getElementById("the_monaco");
const output = document.getElementById("the_output");
const iframe2 = document.getElementById("the_other_monaco");
const output2 = document.getElementById("the_other_output");
window.addEventListener("message", ({ data }) => {
    switch(data.type) {
        case "ready": {
            if (data.context == 'first') {
                iframe.contentWindow?.postMessage({
                    type: "change-value",
                    value: "loaded 1"
                }, "*");
            } else if (data.context == 'other') {
                iframe2.contentWindow?.postMessage({
                    type: "change-value",
                    value: "loaded 2"
                }, "*");
            }
        }
        case "change": {
            if (data.context == 'first') {
                output.innerHTML = data.value;
            } else if (data.context == 'other') {
                output2.innerHTML = data.value;
            }
            break;
        }
    }
});
</script>
{% endblock %}