<div class="col-12">
{% for page in game.page_set.all %}
  {% if page.is_locked %}
    {% if not page.is_hidden %}
    <div class="card mb-3">
      <div class="card-header">
        <span class="text-body-secondary">{{ page.order }}. ????????????? </span><span class="badge bg-secondary">round not started</span>
      </div>
      <div class="card-body">
        <p class="card-text text-body-secondary"><em>{{ page.mystery_description }}</em></p>
      </div>
    </div>
    {% endif %}
  {% else %}
  <div class="card mb-3{% if page.is_open %} border-success{% endif %}">
    <div class="card-header{% if page.is_open %} border-success{% endif %}">
      {{ page.order }}. <a href="{% url 'answer_sheet' page.order %}">{{ page.title }}</a>
      {% if page.is_open %}
      <span class="badge bg-success">open for answers</span>
      {% elif page.is_scoring %}
      <span class="badge bg-info">round complete</span>
      {% endif %}
    </div>
    {% if page.is_open %}
    <div class="card-body markdown-needed">
      {% firstof page.description|linebreaksbr '&nbsp;' %}
    </div>
    {% else %}
    <div class="card-body">
      <p class="card-text text-body-secondary">This round is complete! You can still view the description and questions, but you can no longer submit answers.</p>
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}
</div>