{% for page in game.page_set.all %}
  {% if page.is_locked %}
  {% if not page.is_hidden %}
  <dt class="col-sm-4 text-muted">{{ page.order }}. ????????????? 🔒</dt>
  <dd class="col-sm-8 text-muted"><em>{{ page.mystery_description }}</em></dd>
  {% endif %}
  {% else %}
  <dt class="col-sm-4">
    {{ page.order }}. <a href="{% url 'answer_sheet' page.order %}">{{ page.title }}</a>
    {% if page.is_open %}
    (✏️ open)
    {% elif page.is_scoring %}
    (✅ done)
    {% endif %}
  </dt>
  <dd class="col-sm-8 markdown-needed">
    {{ page.description|linebreaksbr }}
  </dd>
  {% endif %}
{% endfor %}
