<div class="col-12" id="question-{{ question.id }}">
  <div class="card mb-3">
    <div class="card-header">Question {{ question.order }}</div>
    <div class="card-body">
      {% if question.possible_points > 1 %}<p class="card-text fst-italic">Worth up to <span class="text-primary fw-bold">{{ question.possible_points }}</span> points.</p>{% endif %}
      <p class="card-text markdown-needed">{{ question.question|linebreaksbr }}</p>

      {% comment %}
      assured by the view:
      - game open
      - on a team
      - page not locked
      - question exists
      {% endcomment %}

      {# page accepting answers, response not scored #}
      {% if question.page.is_open and not response.graded %}
      <p class="card-text">
        <form autocomplete="off"{% if did_save == True or did_save == False %} novalidate class="was-validated"{% endif %}>
          <div class="row">
            <label class="visually-hidden" for="response_{{ question.id }}">Your answer</label>
            <div class="input-group">
              <div class="input-group-text">Answer?</div>
              <input
                type="text"
                id="answer-field-{{ question.id }}"
                class="form-control{% if did_save == True %} is-valid{% elif did_save == False %} is-invalid{% endif %}"
                name="response_value"
                placeholder="..."
                value="{{ response.value }}"
                hx-post="{% url 'question_hx' question.id %}"
                hx-target="#question-{{ question.id }}"
                hx-swap="morph:outerHTML"
                hx-trigger="input changed delay:500ms">
              <div class="valid-feedback">Saved {% if response.value %}"{{ response.value }}"{% else %}a blank answer{% endif %}.</div>
              <div class="invalid-feedback">Something went wrong saving. {% if response and response.value %}"{{ response.value }}"{% elif not response %}No answer{% else %}A blank answer{% endif %} was recorded.</div>
            </div>
          </div>
        </form>
      </p>
      {% endif %}

      {# page accepting answers but response scored #}
      {% if question.page.is_open and response.graded %}
      <p class="card-text">
      You answered
      <span class="text-info">{{ response.value }}</span>,
      and it's been scored, so you can't change it now.
      </p>
      {% endif %}

      {# page not accepting answers #}
      {% if question.page.is_scoring %}
      <p class="card-text">Correct answer: <span class="text-info markdown-needed">{{ question.answer|linebreaksbr }}</span></p>
      <p class="card-text">
        {% if response %}
          Your answer:
          {% if response.graded %}
            {% if response.score > 0 %}
            <span class="text-success">
            {% else %}{# score <= 0 #}
            <span class="text-danger">
            {% endif %}
          <q>{{ response.value }}</q>
          {% if response.score > 0 %}
            ✅{% if response.score > 1 %} {{ response.score }} points{% endif %}
          {% else %}
            ❌ no points
          {% endif %}
          {% else %}{# not graded #}
            <q>{{ response.value }}</q> (not graded)
          {% endif %}
          </span>
        {% else %}{# no response #}
        <span class="text-secondary">❌ You did not submit a response.</span>
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>
</div>
